.button {
  background: #0077ff;
  padding: 10px 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow {
  margin-left: 10px ;
}

.button:hover {
  background: #014a9c;
}
